<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test thread-count="5" name="ChromeTest">
 <parameter name="nodeurl" value="http://localhost:4444/wd/hub"/>
 <parameter name="browser" value="chrome"/>
 <parameter name="appurl" value="https://demo.actitime.com/login.do"/>
 <packages>
 <package name="com_ActiTime_Tests"/>
 </packages>
  </test> 
  <test thread-count="5" name="FirefoxTest">
 <parameter name="nodeurl" value="http://localhost:4444/wd/hub"/>
 <parameter name="browser" value="firefox"/>
 <parameter name="appurl" value="https://demo.actitime.com/login.do"/>
 <packages>
 <package name="com_ActiTime_Tests"/>
 </packages>
 </test>
 <!-- Test -->
</suite> <!-- Suite -->
